# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#Eclipse
.metadata
/Lab2/.cproject
/Lab2/.project
/Lab2/.settings/*.*
Lab2/.built-in.o.cmd

#WTF?!
/RemoteSystemsTempFiles/*.*
/Lab2/*.cmd
/Lab2/*.symvers
/Lab2/modules.order
/Lab2/modulePWM.mod.c



#Gedit
*.*.d





